html {
    user-select:text;
}
body {
    -webkit-user-select:text;
    user-select:text;
}
.contain-con{
	background-image: url(icon-flag.png);
    background-repeat:  no-repeat;
    background-size: 16rem;
    height: 9.375rem;
}
.logo{
	margin-left: 30%;
    left: -2.4rem;
    top: 1.2rem;
    position: relative;
}
.con-sing{
    padding-top: 0.8rem;
}
.b-color{
	background-color: rgb(221,41,28);
    padding-left: 0.55rem;
    padding-right: 0.55rem;
}
.b-w-c{
    background-color: #fff;
    padding-left: .65rem;
    padding-right: .65rem;	
}
.head{
	border-bottom: 1px solid rgb(224,224,246);
	padding-bottom: 0.8rem;
	padding-top: 0.8rem;
	display: table;
	width: 100%;
}
.h-a{
	display: table-cell;
}
.title{
	font-size: 1rem;
	font-weight: bold;
	color: rgb(51,51,51);
}
.contain-a{
	font-size: .5rem;
	color: rgb(251,31,88);
	padding-top: .5rem;
}
.contain-time{
	font-size: .55rem;
	color: rgb(102,102,102);
	display: inline-table;
	padding-top: .35rem;
}
.contain-b{
	display: table;
	width: 100%;
    margin-top: 0.35rem;
}
.contain-c{
	font-size: 0.7rem;
	color: #fff;
    border-radius: 1rem;
    text-align: center;
    background-color: rgb(255,31,88);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1.1rem;
    padding-right: 1.175rem;
}
.contain-c-c{
    vertical-align: bottom;
	display: table-cell;
}
.p{
	font-size: 0.6rem;
	padding-top: 0.9rem;
	padding-bottom: 0.85rem;
	border-bottom: 1px dashed rgb(133,130,147);
}
.con-a{
	padding-top: 0.65rem;
	padding-bottom: 0.65rem;
    display: table;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid rgb(224,224,226);
}
.c-num{
    vertical-align: middle;
    display: table-cell;
}
.c-title{
	font-size: 0.75rem;
	font-weight: bold;
	padding-top: 0.8rem;
}
.pic-h img{
	height: 2rem;
	width: 2rem;
    vertical-align: middle;
}
.pic-h{
	display: table-cell;
	vertical-align: middle;
    width: 2.72rem;
    text-align: center;
}
.song-name{
	margin-left: 0.4rem;
}
.name{
	font-size: 0.7rem;
}
.song img{
	height: 0.6rem;
	width: 0.6rem;
    vertical-align: middle;
}
.song{
	font-size: 0.6rem;
	color: rgb(102,102,102);
	margin-top: 0.4rem;
	display: inline-table;
}
.pic-gold img{
	height: 0.85rem;
	width: 0.85rem;
}
.gold{
	text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 2rem;
}
.num{
	font-size: 0.5rem;
	color: rgb(231,145,42);
	margin-top: 0.35rem;
}
.con-c{
	display: table-cell;
    vertical-align: middle;
    padding-left: .37rem;
}
.con-l{

	font-weight: bold;
}
.c-blank{
	padding: 2rem;
}
.footer{
	display: table;
	width: 100%;
	background-color: rgb(55,39,55);
	position: fixed;
	height: 2.2rem;
	bottom: 0;
	left: 0;
}
.f-a{
	display: inline-table;
	color: rgb(255,31,88);
	margin-left: 1.475rem;
    text-align: center;
}
.f-a img{
	width: 0.95rem;
	height: 0.85rem;
}

.f-d{
	display: inline-table;
	margin-left: 1.7rem;
}
.f-d img{
	width: 1.05rem;
	height: 0.85rem;
}
.f-m-w{
	display: inline-table;
	width: 3rem;
    height: 3rem;
    border:0.5rem solid rgb(144,104,143);
    border-radius: 50%;
    opacity: 0.8;
  	position: absolute;
  	bottom: -14;
}
.f-m{
	display: inline-table;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background-color: rgb(255,31,88);
}
.f-m img{
	width: 1.4rem;
	height: 1.5rem;
    margin-top: 0.3rem;
}
.f-z{
	display: inline-table;
	margin-left: 4.27rem;
}
.f-z img{
	width: 1.15rem;
	height: 0.9rem;
}
.f-mine{
	display: inline-table;
	margin-left: 1.2rem;	
	margin-top: 0.15rem;
}
.f-mine img{
	width: 1.05rem;
	height: 0.95rem;
}
.f-text{
	margin-top: 0.3rem;
	font-size: 0.55rem;
}
.f-text-m{
	margin-top: 0.15rem;
	font-size: 0.55rem;
	color: #fff;
	text-align: center;
}
.f-text-w{
	margin-top: 0.3rem;
	font-size: 0.55rem;
	color: rgb(255,255,255);
}