html {
    user-select:text;
}
body {
    -webkit-user-select:text;
    user-select:text;
    background-color: #f4f4f4;
    margin:0;
}

.a{
	margin-top: 0.7rem;
}
.head{
	height: 2.2rem;
	background-color: #fff;
	font-size: 0.75rem;
	font-weight: bold;
	padding-left: 0;
}
.title{
	padding-top: 0.75rem;
}
.h-a{
	display: inline-table;
	color: #18AFFE;
	border-bottom: .1rem solid #18AFFE;
	padding-bottom: .4rem;
	margin-left: 2.2rem;
}
.h-b{
	float: right;
	margin-right: 2.35rem;
	list-style-type: none;
}
.time{
	float: left;
	margin-left: 1rem;
	margin-top: 0.35rem;
	font-size: 0.75rem;
	font-weight: bold;
}
.contain{
	padding-left: 0;
}
.time-none{
	float: left;
	margin-top: 0.35rem;
    margin-left: 1rem;
	font-size: 0.75rem;
	font-weight: bold;
	color: #f4f4f4
}
.t-icon{
	float: left;
	margin-top: 0.25rem;
	background-color: rgb(26,237,115);
	width:1rem; 
	height:1rem; 
	border-radius:50%;
	margin-left: 0.9rem;
	margin-right: 0.9rem;
}
.t-icon-a{
	float: left;
	margin-top: 0.25rem;
	background-color: rgb(24,175,254);
	width:1rem; 
	height:1rem; 
	border-radius:50%;
	margin-left: 0.9rem;
	margin-right: 0.9rem;
}
.t-icon-b{
	float: left;
	margin-top: 0.25rem;
	background-color: rgb(24,175,254);
	width:1rem; 
	height:1rem; 
	border-radius:50%;
	margin-left: 0.9rem;
	margin-right: 0.9rem;
}
.t-icon-c{
	float: left;
	margin-top: 0.25rem;
	background-color: rgb(255,70,92);
	width:1rem; 
	height:1rem; 
	border-radius:50%;
	margin-left: 0.9rem;
	margin-right: 0.9rem;
}
.t-icon-d{
	float: left;
	margin-top: 0.25rem;
	background-color: rgb(24,175,254);
	width:1rem; 
	height:1rem; 
	border-radius:50%;
	margin-left: 0.5rem;
	margin-right: 0.8rem;
}
.t-icon-a img, .t-icon-b img, .t-icon-c img, .t-icon-d img{
	height: 0.7rem;
	width: 0.7rem;
	vertical-align: middle;	
	padding: 0.15rem;	
}
.t-icon img{
	height: 0.6rem;
	width: 0.55rem;
	vertical-align: middle;	
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
}
.a{
	list-style-type: none;
}
.contain-a{
	display: table-cell;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	background-color: #fff;
	margin-top: 0.7rem;
	border-radius: 0.45rem;
}
.contain-a:before{
	content: "";
	width: 0.1rem; 
	height: 180%;
	top: 2.5rem;
	bottom: 0; 
	right: 16rem;
	background: rgb(232,232,232); 
    position: absolute;
    z-index: -1;
}
.contain-title{
	padding-top: 0.6rem;
	font-size: 0.7rem;
}

.c-s{
	font-size: 0.6rem;
	color: rgb(26,237,115);
	margin-top: 0.65rem;
	margin-bottom: 0.65rem;
	display: inline-table;
}
.c-beg{
	font-size: 0.6rem;
	color: rgb(255,70,92);
	margin-top: 0.65rem;
	margin-bottom: 0.65rem;
	display: inline-table;
}
.c-g{
	font-size: 0.6rem;
	color: rgb(24,175,254);
	margin-top: 0.65rem;
	margin-bottom: 0.65rem;
	display: inline-table;	
}
.c-g img{
	height: 0.7rem;
	width: 0.75rem;	
}
.c-a img, .c-a-b img{
	height: 0.7rem;
	width: 0.75rem;	
}
.c-a{
	float: right;
}
.c-a-b{
	float: right;
	margin-right: 0.5rem;
	margin-top: 0.6rem;
}
.s-i{
	font-size: 0.5rem;
	color: rgb(255,255,255);
    border-radius: 1rem;
    text-align: center;
    width: 3.45rem;
    background-color: #18AFFE;
    padding-top: 0.2rem;
    padding-bottom: 0.15rem;
    float: right;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}
.s-i img{
	width: 0.5rem;
	height: 0.5rem;
	margin-right: 0.3rem;
}
.s-a img{
	height: 0.7rem;
	width: 0.75rem;
}
.s-a{
	display: inline-table;
	margin-top: 0.6rem;
	margin-left: 3.6rem;
}
.place img{
	height: 0.6rem;
	width: 0.45rem;
	vertical-align: middle;
}
.place{
	font-size: 0.6rem;
	padding-top: 0.6rem;
	border-top: 0.05rem solid rgb(220,220,220);
}
.n-t{
	display: inline-table;
	padding-top: 0.45rem;
	padding-bottom: 0.6rem;
}
.name img{
	height: 0.6rem;
	width: 0.5rem;
	vertical-align: middle;
}
.name{
	font-size: 0.6rem;
	display: inline-table;
}
.c-time{
	float: right;
	margin-left: 0.5rem;
}
.c-time img{
	height: 0.6rem;
	width: 0.6rem;
	vertical-align: middle;
}
.c-time-a{
	font-size: 0.6rem;
}
.place-a, .name-a, .c-time-a{
	margin-left: 0.3rem;
	vertical-align: middle;
}

.footer{
	background-color: #18AFFE;
	text-align: center;
	color: #FFF;
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;
	bottom: 0;
	width: 100%;
	position: fixed;
}
.icon-f{
	font-size: 0.75rem;
}
.icon-f img{
	width: 1.1rem;
	height: 1.1rem;
	margin-right: 0.5rem;
    vertical-align: middle;
}
.foot-t{
	vertical-align: middle;
}
