html {
    user-select:text;
}
body {
    -webkit-user-select:text;
    user-select:text;
    background-color: #f4f4f4;
}

.head, .contain-a, .contain-c, .c-p, .c-title, .c-h, .con-b{
	padding-left: 0.55rem;	
	padding-right: 0.55rem;
}
.head{
	padding-top: 0.85rem;
}
.head, .c-h, .c-p, .content, .c-b-c, .con-b{
	background-color: #FFF;
	margin-bottom: 0.5rem;
	padding-bottom: 0.5rem;
}
.title{
	padding-top: 0.75rem;
}
 .contain-a{
	background-color: #FFF;
	margin-bottom: 0.5rem;
	padding-top: 0.5rem; 	
 }
 .contain-c{
 	background-color: #FFF;	
 }
.contain-b{
	background-color: #FFF;
	margin-bottom: 0.5rem;	
}
.head-a{
	display: table;
	width: 100%;
	padding-top: 0.25rem;
	height: 2.5rem;
}
.h-title{
	font-size: 0.8rem;
	font-weight: bold;
	border-right:1px solid #ddd;
	width: 11.5rem;
	padding-right: 0.6rem;
	display: inline-table;
}
.hh{
	padding-left: 0.6rem;
	display: inline-table;
	vertical-align: text-top;
}
.icon-a, .i-t{
	color: #1AED73;
	font-size: 0.55rem;
	text-align: center;
}
.icon-a img{
	width: 1.4rem;
	height: 1.4rem;
}
.h-b-a img{
	width: 0.55rem;
	height: 0.7rem;
	display: inline-table;
	vertical-align: middle;
}
.h-b-c img{
	width: 0.6rem;
	height: 0.7rem;
	display: inline-table;
	vertical-align: middle;	
}
.i-t{
	margin-top: .2rem;
	}
.head-b{
	font-size: 0.6rem;
	color: #666;
	display: table;
	width: 100%;
}
.position{
	display: inline-table;
	width:  9rem;
}
.h-b-a{
	margin-top: 0.6rem;
	width: 10rem;
	display: inline-table;
}
.h-b-b{
	background-color: #18AFFE;
	color: #FFF;
	border-radius:1rem;
	text-align: center;
	width: 2.8rem;
	height: 0.9rem;
	font-size: 0.5rem;
    margin-left: 1.4rem;
    padding-right: 0.15rem;
    padding-top: 0.2rem;
	vertical-align: middle;
	display: inline-table;
}
.con-a{
	background-color: #18AFFE;
	color: #FFF;
	border-radius:23px;
	width: 3.1rem;
	height: 0.8rem;
	font-size: 0.6rem;	
	padding-top: 0.1rem;
}
.h-b-b img{
	height: 0.5rem;
	width: 0.5rem;
	padding-right: 0.25rem;
}
.name {
	vertical-align: middle;
	margin-left: 0.3rem;
}
.h-b-c{
	margin-top: 0.25rem;
	font-size: 0.6rem;
	color: #666;
}
.a-icon{
	width: 1rem;
	height: 0.8rem;
	display: inline-table;
	vertical-align: middle
}
.c-a-title{
	display: table;
	width: 100%;
}
.c-title-a{
	font-size: 0.7rem;
	font-weight: bold;
	border-left:0.15rem solid #18AFFE;
	display: inline-table;
	padding-left: 0.5rem;
}
.contain{
	display: table;
	width: 100%;
	padding-top: 0.5rem;
}
.c-title{
	font-size: 0.7rem;
	font-weight: bold;
	margin-top:0.5rem;
	border-left:0.15rem solid #18AFFE;
	float: left;
	margin-left: 0.5rem;
}
.c-t-a{
	float: right;
	color: #18AFFE;
	font-size: 0.6rem;
	font-weight: bold;
	margin-left: 9rem;
}
.c-b{
	display: table;
	border-bottom: 1px solid #666;
	border-color: #ddd;
	width: 100%;
}
.c-b-e{
	display: table;
	margin-top: 0.5rem;
	border-bottom: 1px solid #666;
	border-color: #ddd;
	width: 100%;
}
.c-b-c{
	display: table;
	padding-bottom: 0;
	margin-bottom: 0;
	width: 100%;
}

.c-b-a{
	width: 9rem;
	color: #18AFFE;
	font-size: 0.7rem;
	margin-top: 0.75rem;
	margin-bottom: 0.7rem;
	float: left;
}
.c-b-a img{
	width: 0.6rem;
	height: 0.75rem;
	padding-right: 0.6rem;
	vertical-align: text-bottom;
}
.c-b-b{
	font-size: 0.6rem;
	color: #666;
	margin-top: 0.9rem; 
	float: right;
}
.c-h{
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	font-weight: bold;
	font-size: 0.7rem;
}
.c-h-a{
	float: right;
	font-weight: bolder;
	color: #666;
}
.c-p{
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	font-size: 0.8rem;	
}
.con-a{
	float: right;
	margin-top: 0.45rem;
	margin-right: 0.5rem;
	padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.con-a img{
	width: 0.6rem;
	height: 0.6rem;
	margin-right: 0.45rem;
	vertical-align: middle;
}
.text{
	list-style-type: none;
	border-bottom: 1px solid #666;
	border-color: #ddd;
	padding-bottom: 0.5rem;
	padding-top: 0.4rem;
	width: 100%;
	display: table;
}
.b-text{
	display: inline-table;
	margin-right: 0.75rem;
	width: 190px;
}
.text-title{
	font-weight: bold;
	font-size: 0.75rem;
}
.text-title-a{
	font-weight: bold;
	font-size: 0.75rem;
}
.text-b{
	list-style-type: none;
	border-color: #ddd;
	padding-top: 20px;
	display: table;
	width: 100%;
}
.text-c{
	font-size: 0.7rem;
	color:#666;
	padding-top: 0.5rem;
}
.contain-c{
	clear: both;
	padding-top: 0.5rem;
}
.text-a{
	font-size: 0.6rem;
	color:#666;
	padding-top: 0.5rem;
}
.text-num{
	display: inline-table;
}
.text-time{
	display: inline-table;
	margin-left: 1.25rem;
	font-size: 0.6rem;
}
.b-pic{
	vertical-align: text-top;
	display: inline-table;
}
.b-pic img{
	width: 4.3rem;
	height: 4.3rem;
}

.comment{
	border-bottom:1px solid #666;
	border-color: #ddd;
	list-style-type: none;
	display: table;
	width: 100%;
}
.head-pic{
	display: table-cell;
	width: 2rem;
	vertical-align: top;
}
.head-pic img{
	width: 1.5rem;
	height: 1.5rem;
	margin-top: 0.5rem;
}
.comment-a{
	padding-top: 0.7rem;
	vertical-align: middle;
}
.c-name{
	display: inline-table;
	color: #18AFFE;
	font-size: 0.7rem;
	font-weight: bold;
}
.c-time{
	display: inline-table;
	font-size: 0.5rem;
	color:#666;	
}
.c-pic{
    float: right;
    color: #18AFFE;
    font-size: 0.65rem;
}
.c-num{
	vertical-align: middle;
}
.c-pic img{
	width: 0.65rem;
	height: 0.65rem;
	vertical-align: middle;
}
.c-text{
	padding-bottom: 0.75rem;
	padding-top: 0.8rem;
	font-size: 0.8rem;
	font-weight: bold;
}
.c-text-b{
	padding-bottom: 9px;
	padding-top: 0.8rem;
	font-size: 0.8rem;
	font-weight: bold;	
}
.c-text-a{
	margin-bottom: 0.5rem;
	padding: 9px;
	background-color: #DDD;
	font-size: 0.8rem;
}
.c-text-p img{
	width: 5rem;
	height: 5rem;
}
.c-icon{
	margin-right: 0.95rem;
}
.con-b{
	clear: both;
}
.footer{
	background-color: #18AFFE;
	text-align: center;
	color: #FFF;
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;
	bottom: 0;
	width: 100%;
	position: fixed;
}
.icon-f{
	font-size: 0.75rem;
}
.icon-f img{
	width: 1.1rem;
	height: 1.1rem;
	margin-right: 0.5rem;
    vertical-align: middle;
}
.foot-t{
	vertical-align: middle;
}
