html {
    font-size: 20px;
    -webkit-user-select:text;
    user-select:text;
}
body {
    -webkit-user-select:text;
    user-select:text;
    background-color: #f4f4f4;
}
*{
	margin: 0;
	padding: 0;
}

.head, .contain-a, .contain-c, .c-p, .c-title, .c-h, .con-b{
	padding-left: 11px;	
	padding-right: 11px;
}
.head{
	padding-top: 17px;
}
.head, .c-h, .c-p, .content, .c-b-c, .con-b{
	background-color: #FFF;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.title{
	padding-top: 15px;
}
 .contain-a{
	background-color: #FFF;
	margin-bottom: 10px;
	padding-top: 10px; 	
 }
 .contain-c{
 	background-color: #FFF;	
 }
.contain-b{
	background-color: #FFF;
	margin-bottom: 10px;	
}
.head-a{
	display: table;
	width: 100%;
	padding-top: 5px;
	height: 50px;
}
.h-title{
	font-size: 16px;
	font-weight: bold;
	border-right:1px solid #ddd;
	width: 230px;
	padding-right: 12px;
	display: inline-table;
}
.hh{
	padding-left: 12px;
	display: inline-table;
	vertical-align: text-top;
}
.icon-a, .i-t{
	color: #1AED73;
	font-size: 11px;
	text-align: center;
}
.icon-a img{
	width: 28px;
	height: 28px;
}
.h-b-a img{
	width: 11px;
	height: 14px;
	display: inline-table;
	vertical-align: middle;
}
.h-b-c img{
	width: 12px;
	height: 14px;
	display: inline-table;
	vertical-align: middle;	
}
.i-t{
	margin-top: 3px;
	}
.head-b{
	font-size: 12px;
	color: #666;
	display: table;
	width: 100%;
}
.position{
	display: inline-table;
	width:  180px;
}
.h-b-a{
	margin-top: 12px;
	width: 200px;
	display: inline-table;
}
.h-b-b{
	background-color: #18AFFE;
	color: #FFF;
	border-radius:20px;
	text-align: center;
	width: 56px;
	height: 18px;
	font-size: 10px;
    margin-left: 28px;
    padding-right: 3px;
    padding-top: 4px;
	vertical-align: middle;
	display: inline-table;
}
.con-a{
	background-color: #18AFFE;
	color: #FFF;
	border-radius:23px;
	width: 62px;
	height: 16px;
	font-size: 12px;	
	padding-top: 2px;
}
.h-b-b img{
	height: 10px;
	width: 10px;
	padding-right: 5px;
}
.name {
	vertical-align: middle;
	margin-left: 6px;
}
.h-b-c{
	margin-top: 5px;
	font-size: 12px;
	color: #666;
}
.a-icon{
	width: 20px;
	height: 16px;
	display: inline-table;
	vertical-align: middle
}
.c-a-title{
	display: table;
	width: 100%;
}
.c-title-a{
	font-size: 14px;
	font-weight: bold;
	border-left:3px solid #18AFFE;
	display: inline-table;
	padding-left: 10px;
}
.contain{
	display: table;
	width: 100%;
	padding-top: 10px;
}
.c-title{
	font-size: 14px;
	font-weight: bold;
	margin-top:10px;
	border-left:3px solid #18AFFE;
	float: left;
	margin-left: 10px;
}
.c-t-a{
	float: right;
	color: #18AFFE;
	font-size: 12px;
	font-weight: bold;
	margin-left: 180px;
}
.c-b{
	display: table;
	border-bottom: 1px solid #666;
	border-color: #ddd;
	width: 100%;
}
.c-b-e{
	display: table;
	margin-top: 10px;
	border-bottom: 1px solid #666;
	border-color: #ddd;
	width: 100%;
}
.c-b-c{
	display: table;
	padding-bottom: 0;
	margin-bottom: 0;
	width: 100%;
}

.c-b-a{
	width: 180px;
	color: #18AFFE;
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 14px;
	float: left;
}
.c-b-a img{
	width: 12px;
	height: 15px;
	padding-right: 12px;
	vertical-align: text-bottom;
}
.c-b-b{
	font-size: 12px;
	color: #666;
	margin-top: 18px; 
	float: right;
}
.c-h{
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: bold;
	font-size: 14px;
}
.c-h-a{
	float: right;
	font-weight: bolder;
	color: #666;
}
.c-p{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 16px;	
}
.con-a{
	float: right;
	margin-top: 9px;
	margin-right: 10px;
	padding-left: 5px;
    padding-right: 5px;
}
.con-a img{
	width: 12px;
	height: 12px;
	margin-right: 9px;
	vertical-align: middle;
}
.text{
	list-style-type: none;
	border-bottom: 1px solid #666;
	border-color: #ddd;
	padding-bottom: 10px;
	padding-top: 8px;
	width: 100%;
	display: table;
}
.b-text{
	display: inline-table;
	margin-right: 15px;
	width: 190px;
}
.text-title{
	font-weight: bold;
	font-size: 15px;
}
.text-title-a{
	font-weight: bold;
	font-size: 15px;
}
.text-b{
	list-style-type: none;
	border-color: #ddd;
	padding-top: 20px;
	display: table;
	width: 100%;
}
.text-c{
	font-size: 14px;
	color:#666;
	padding-top: 10px;
}
.contain-c{
	clear: both;
	padding-top: 10px;
}
.text-a{
	font-size: 12px;
	color:#666;
	padding-top: 10px;
}
.text-num{
	display: inline-table;
}
.text-time{
	display: inline-table;
	margin-left: 25px;
	font-size: 12px;
}
.b-pic{
	vertical-align: text-top;
	display: inline-table;
}
.b-pic img{
	width: 86px;
	height: 86px;
}

.comment{
	border-bottom:1px solid #666;
	border-color: #ddd;
	list-style-type: none;
	display: table;
	width: 100%;
}
.head-pic{
	display: table-cell;
	width: 40px;
	vertical-align: top;
}
.head-pic img{
	width: 30;
	height: 30px;
	margin-top: 10px;
}
.comment-a{
	padding-top: 14px;
	vertical-align: middle;
}
.c-name{
	display: inline-table;
	color: #18AFFE;
	font-size: 14px;
	font-weight: bold;
}
.c-time{
	display: inline-table;
	font-size: 10px;
	color:#666;	
}
.c-pic{
    float: right;
    color: #18AFFE;
    font-size: 13px;
}
.c-num{
	vertical-align: middle;
}
.c-pic img{
	width: 13px;
	height: 13px;
	vertical-align: middle;
}
.c-text{
	padding-bottom: 15px;
	padding-top: 16px;
	font-size: 16px;
	font-weight: bold;
}
.c-text-b{
	padding-bottom: 9px;
	padding-top: 16px;
	font-size: 16px;
	font-weight: bold;	
}
.c-text-a{
	margin-bottom: 10px;
	padding: 9px;
	background-color: #DDD;
	font-size: 16px;
}
.c-text-p img{
	width: 100px;
	height: 100px;
}
.c-icon{
	margin-right: 19px;
}
.con-b{
	clear: both;
}
.footer{
	background-color: #18AFFE;
	text-align: center;
	color: #FFF;
	padding-bottom: 15px;
	padding-top: 15px;
	bottom: 0;
	width: 100%;
	position: fixed;
}
.icon-f{
	font-size: 15px;
}
.icon-f img{
	width: 22px;
	height: 22px;
	margin-right: 10px;
    vertical-align: middle;
}
.foot-t{
	vertical-align: middle;
}
