html {
    font-size: 20px;
     -webkit-user-select:text;
    user-select:text;
}
body {
    -webkit-user-select:text;
    user-select:text;
}
*{
	margin: 0;
	padding: 0;
}

.head, .contain-a, .contain-c, .c-p, .c-title, .c-h, .con-b{
	padding-left: 20px;	
	padding-right: 20px;
}
.head-a{
	display: inline;
}
.h-title{
	font-size: 18px;
	font-weight: bold;
	margin-top: 18px;
	border-right:1px solid #ddd;
	width: 210px;
	display: inline-block;
}
.hh{
	float: right;
	padding-right: 10px;
	display: inline;
}
.icon-a, .i-t{
	margin-top: 18px;
	color: #1AED73;
	font-size: 13px;
}
.icon-a img{
	width: 38px;
	height: 35px;
}
.h-b-a img, .h-b-c img{
	width: 16px;
	height: 20px;
}
.i-t{
	margin-top: 5px;
}
.head-b{
	font-size: 14px;
	color: #666;
}
.h-b-a{
	   float: left;
	   margin-top: 15px;
	   width: 200px;
	   display: inline-block;
}
.h-b-b{
	margin-top:13px; 
	float: right;
}
.h-b-b, .con-a{
	background-color: #18AFFE;
	color: #FFF;
	border-radius:30px;
	text-align: center;
	width: 80px;
	height: 30px;
	font-size: 15px;
}
.h-b-c{
	margin-top: 5px;
	clear: both;
}
.a-icon{
	width: 20px;
	height: 16px;
}
.c-a-title{
	clear: both;
}
.c-title-a{
	font-size: 20px;
	margin-top:31px;
	border-left:3px solid #18AFFE;
	float: left;
	padding-left: 19px;
}
.c-title{
	font-size: 20px;
	margin-top:31px;
	margin-bottom:31px;
	border-left:3px solid #18AFFE;
	float: left;
	margin-left: 20px;
}
.c-t-a{
	margin-top: 30px;
	float: right;
	color: #18AFFE;
	font-size: 18px;
	font-weight: bold;
}
.c-b{
	clear: both;
	border-bottom: 1px solid #666;
	border-color: #ddd;
}
.c-b:after{
	content: "";
	clear: both;
	display: block;
	
}
.c-b-a{
	float: left;
	width: 180px;
	color: #18AFFE;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline;
}
.c-b-a img{
	width: 20px;
	height: 20px;
}
.c-b-b{
	float: right;
	font-size: 18px;
	color: #666;
	margin-top: 20px;
	display: inline;
}
.c-h{
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;

}

.con-a{
	float: right;
	margin-top: 26px;
	margin-right: 20px;
}
.con-a img{
	width: 20px;
	height: 20px;
}
.text{
	float: left;
	margin-left: 10px;
	list-style-type: none;
	border-bottom:1px solid #666;
	border-color: #ddd;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.con-b, .contain-c{
	  clear: both;
}
.text-title{
			margin-top: 10px;
			width: 200px;
			display: inline;
}
.text-a{
	font-size: 14px;
	color:#666;
}
.text-num{
	float: left;
}
.text-time{
	float: right;
	padding-top: 10px;
}
.comment{
		border-bottom:1px solid #666;
		border-color: #ddd;
		list-style-type: none;
}
.comment-a{
	clear: both;
	padding-top: 10px;
	margin-left: 15px;
}
.c-name{
	float: left;
	margin-right: 20px;
	color: #18AFFE;
	display: inline;
}
.c-time{
	font-size: 14px;
	color:#666;	
	width: 200px;
	display: inline;
}
.c-pic{
	   float: right;
	   color: #18AFFE;
	   height: 30px;
	   display: inline;
}
.c-pic img{
	width: 18px;
	height: 18px;
}
.c-text{
	clear: both;
	padding-bottom: 10px;
	padding-right:20px;
	margin-left: 20px;
}
.c-text-a{
	margin-left: 10px;
	margin-bottom: 10px;
	margin-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right:20px;
	background-color: #DDD;
}
.c-icon{
	margin-right: 19px;
}
.con-b{
	clear: both;
}
.footer{
	background-color: #18AFFE;
	text-align: center;
	color: #FFF;
	font-size: 17px;
	padding-top: 12px;
	padding-bottom: 8px;
}
.icon-f{
	padding-bottom: 10px;
}
.icon-f img{
	width: 20px;
	height: 19px;
}
